:root {
  --main-bg-color: #016fb9;
  --red-color: #ff3a6bec;
  --secondary-color: rgb(130, 130, 133);
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f3f5f5;
}

header {
  height: 100px;
  padding: 30px 25px;
  background-color: var(--main-bg-color);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  font-weight: 500;
  font-family: "Shadows Into Light", cursive;
  letter-spacing: 2px;
  font-size: 35px;
}

header nav a {
  margin: 0 20px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  font-size: 16px;
}

header nav .shopping-car {
  display: inline-block;
}

header nav .shopping-car .carrito {
  font-size: 22px;
  z-index: 0;
}

header nav .shopping-car .items-to-shop {
  background: var(--red-color);
  font-size: 12px;
  font-weight: 600;
  padding: 3px;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  right: 40px;
  top: 10px;
}

main {
  width: 100%;
  display: flex;
  margin-top: 3.5%;
}

.categories {
  margin-top: 100px;
  width: 20%;
  padding-left: 5%;
}

.title{
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 20px;
}

ul {
  display: block;
  margin-left: -10px;
}

ul li {
  position: relative;
  font-weight: 300;
  list-style: none;
}

ul li:not(:last-child) {
  margin-bottom: 20px;
}

ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -0.9em;
  background: var(--main-bg-color);
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.current-category{
  width: 80%;
}

.current-category .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  gap: 50px;
}

.current-category .products .product{
    width: 260px;
    /* position: relative; */
}

.product img{
  max-width: 100%;
  vertical-align: top;
  border-radius: 4px;
}

.product .description{
  line-height: 25px;
  margin-top: 10px;
}

.product .description .product-title{
  font-size: 14px;
  font-weight: 400;
  height: 60px;
}

.product .description .price{
  margin: 10px 0 10px 0;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
}

.product .description .wish{
  float: right;
  font-size: 18px;
  color: #b90101;
  position: relative;
  top: 10px;
}

.product .actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* position: absolute;
  bottom: 0; */
}

.product .actions select {
  background-color: transparent;
  border: 1px solid rgb(221, 220, 220);
  width: 60px;
  padding: 5px;
}

.product .actions .btn{
  border: none;
  padding: 10px;
  color: #ffff;
}

.product .actions .add-car{
  background-color: var(--secondary-color);
}

.product .actions .shop{
  background-color: var(--main-bg-color);
}

.product .actions .add-car i,
.product .actions .shop i
{
  margin-left: 10px;
}

