*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100px;
    padding: 30px 25px;
    background-color: #016FB9;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1{
    font-weight: 500;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 2px;
    font-size: 35px;
}

header nav a{
    margin: 0 20px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px;
}

header nav .shopping-car{
    display: inline-block;
}

header nav .shopping-car .carrito{
    font-size: 22px;
    z-index: 0;
}

header nav .shopping-car .items-to-shop{
    background: #ff3a6bec;
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
    border-radius: 100%;
    position:relative;
    z-index: 1;
    right: 40px;
    top: 10px;
}

main{
    margin: auto;
	width: 100%;
	max-width: 65%;
	display: flex;
    margin-top: 40px;
}

.categories{
    font-weight: 300;
    width: 30%;
}

.categories h3{
    /* color: rgb(107, 105, 105); */
}

.current-categories{
    text-align:left;
    width: 70%;
}